#languages {
  height: auto;
  width: 1220px;
  margin: auto;
}

.language {
  width: 300px;
  height: 300px;
  padding-top: 50px;
  margin-top: 20px;
  display: inline-block;
  background-color: #F5F5F5;
}

.language p {
  text-align: center;
  color: #080F0F;
}

.language:hover {
  background-color: #EDEBED;
}

.languageImage {
  margin: auto;
  width: 200px;
  height: 200px;
  display: block;
}
